@import "https://fonts.googleapis.com/css?family=Raleway";
#close {
    position: absolute;
    right: -0.8cm;
    top: -0.8cm;
    cursor: pointer;
    width: 0.5cm;
}

#popupContact {
    position: absolute;
    left: 50%;
    top: 17%;
    margin-left: -202px;
    font-family: 'Raleway', sans-serif
}

#contactForm {
    max-width: 300px;
    min-width: 250px;
    padding: 10px 50px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: #fff
}

#contactTitle {
    background-color: white /*#313131;*/;
    padding: 20px 35px;
    margin: -10px -50px;
    text-align: center;
    border-radius: 10px 10px 0 0
}

hr {
    margin: 10px -50px;
    border: 0;
    border-top: 1px solid #ccc
}

.texts{
    width: 82%;
    padding: 10px;
    margin-top: 30px;
    border: 1px solid #ccc;
    padding-left: 40px;
    font-size: 16px;
}

textarea {
    width: 82%;
    height: 95px;
    padding: 10px;
    resize: none;
    margin-top: 30px;
    border: 1px solid darkslategray;
    padding-left: 40px;
    font-size: 16px;
    font-family: raleway;
    margin-bottom: 30px
}

#submitButton {
    text-decoration: none;
    width: 100%;
    text-align: center;
    display: block;
    background-color: black;
    color: #fff;
    border: 1px solid darkslategrey;
    padding: 10px 0;
    font-size: 20px;
    cursor: pointer;
    border-radius: 3px
}