#introSection {
	width: 50%;
	height: auto;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	overflow: hidden;
}

.introDiv {
	display: none;
	overflow: hidden;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.w3-display-middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}

body {
	background-color: lightgrey;
}

.banner {
	height: 15%;
	width: 100%;
	background-color: black;
	display: none;
}

#topBanner {
	position: absolute;
	top: 0;
}

#bottomBanner {
	position: absolute;
	bottom: 0;
}
#skipImage{
	position: absolute;
	right: 10px;
	top: 10px;
	height:25%;
	width:auto;
}

#logoSection {
	width: 9cm;
	height: 9cm;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#showValue {
	font-family: "Times New Roman";
	font-size: 40px;
	position: fixed;
	top: 65%;
	left: 65%;
	transform: translate(-50%, -50%);
}

.outer {
	width: 16.66666666666%;
	transform: rotate(-45deg);
	transform-origin: 0 100%;
	-webkit-border-radius: 10px;
	background-color: black;
	overflow: hidden;
	transition: 0s;
	-webkit-box-shadow: 2px -2px 4px 0 darkslategray;
	-moz-box-shadow: 2px -2px 4px 0 darkslategray;
	box-shadow: 2px -2px 4px 0 darkslategray;
}

.innerImg {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;
	max-height: 100%;
}

#firstBlock {
	height: 72.22222222222222%;
	left: 50%;
	visibility: hidden;
}

#secondBlock {
	height: 66.66666666666666%;
	left: 50%;
	visibility: hidden;
}

#thirdBlock {
	height: 66.66666666666666%;
	-webkit-border-bottom-right-radius: 0px;
	visibility: hidden;
}

#fourthBlock {
	width: 8.5%;
	height: 9%;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	visibility: hidden;
}

#pianoSection {
	height: 30%;
	width: 30%;
	position: fixed;
	bottom: 1%;
	left: 50%;
	transform: translate(-50%);
	display: none;
	transition: 0s;
}

#dragTarget {
	width: 0.8cm;
	height: 0.8cm;
	position: fixed;
	right: 0.5cm;
	bottom: 5.5cm;
	border: dashed black;
	visibility: hidden;
}

.notes {
	height: 100%;
	width: 12.5%;
	transform-origin: 0 100%;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	background-color: white;
	border: solid black 1px;
	-webkit-box-shadow: inset 1px 1px 3px 0 darkslategray;
	-moz-box-shadow: inset 1px 1px 3px 0 darkslategray;
	box-shadow: inset 1px 1px 3px 0 darkslategray;
}

.sharp {
	height: 71%;
	width: 8.33333333333333333%;
	background-color: black;
	z-index: 15;
}

#C {
	position: absolute;
	left: 0%;
}

#Csharp {
	position: absolute;
	left: 8.33333333333333333333333333%;
}

#D {
	position: absolute;
	left: 12.5%;
}

#Dsharp {
	position: absolute;
	left: 20.833333333333333333333333333%;
}

#E {
	position: absolute;
	left: 25%;
}

#F {
	position: absolute;
	left: 37.5%;
}

#Fsharp {
	position: absolute;
	left: 45.83333333333333333333%;
	background: white;
	border: dashed black 1px;
}

#G {
	position: absolute;
	left: 50%;
}

#Gsharp {
	position: absolute;
	left: 58.33333333333333333333333333%;
	background: white;
	border: dashed black 1px;
}

#A {
	position: absolute;
	left: 62.5%;
}

#Asharp {
	position: absolute;
	left: 70.83333333333333%;
	background: white;
	border: dashed black 1px;
}

#B {
	position: absolute;
	left: 75%;
}

#C5 {
	position: absolute;
	left: 87.5%;
}

#surpriseSection {
	right: -150%;
	transform: translate(-50%, -50%);
	width:50%;
	height:50%;
	background-color: white;
	border: darkslategray solid 2px;
	display:none;
}

#surpriseClose {
	width: 0.5cm;
	position: absolute;
	top: -0.8cm;
	right: -0.8cm;
}

/*Pop-up Contact form*/
#Popup {
	box-sizing: content-box;
	width: 100%;
	height: 100%;
	opacity: .95;
	top: 0;
	left: 0;
	display: none;
	position: fixed;
	background-color: #313131;
	overflow: auto

}

