/*Side navigation bar*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: darkslategray;
}

#menuImgInside {
    position: absolute;
    top: 10px;
    right: 25px;
    margin-left: 50px;
    width: 0.8cm;
}
#main {
    transition: margin-left .5s;
    padding: 20px;
    visibility:hidden;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media all and (max-device-width: 450px) {
    .sidenav {
        padding-top: 30px;
    }

    .sidenav a {
        font-size: 40px;
    }
    #Popup{
        width: 60%;
        height: 60%;
    }
    @-webkit-keyframes mymove {
        0% {top: 50%;
            left: 50%;
            height:4.5cm}
        100% {top: 0.2cm;
            left: 0.2cm;
            height: 2cm}
        0% {transform: rotateZ(0deg)}
        100% {transform: rotateZ(-360deg)}
    }

    @keyframes mymove {
        0% {top: 50%;
            left: 50%;
            height:4.5cm}
        100% {top: 0.2cm;
            left: 0.2cm;
            height: 2cm}
        0% {transform: rotateZ(0deg)}
        100% {transform: rotateZ(-360deg)}
    }
}

#menuImg {
    position: fixed;
    height: 1cm;
    animation: mymove 5s;
    -webkit-animation: mymove 5s;
}

@-webkit-keyframes mymove {
    0% {top: 30%;
        left: 40%;
        height:9cm}
    100% {top: 0.2cm;
        left: 0.2cm;
        height: 1cm}
    0% {transform: rotateZ(0deg)}
    100% {transform: rotateZ(-360deg)}
}

@keyframes mymove {
    0% {top: 30%;
        left: 40%;
        height:9cm}
    100% {top: 0.2cm;
        left: 0.2cm;
        height: 1cm}
    0% {transform: rotateZ(0deg)}
    100% {transform: rotateZ(-360deg)}
}

#menuImg:hover{
    transition: 4s;
    transform: rotateZ(360deg);

}

h1 {
    text-align: center;
}

/*Pop-up Contact form*/

#Popup {
    width: 100%;
    height: 100%;
    opacity: .95;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color: #313131;
    overflow: auto
}